@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  background: black;
  font-family: "Poppins", sans-serif;
}
.container{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    background-color: #eae9e938;
}
.back-vid{
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: -1;
    mix-blend-mode: lighten;
}
.skills-video-box{
    position: absolute;
    right: -2%;
}

.skills-video{
    height: 800px;
    mix-blend-mode: overlay;
}

*::selection {
  background: #2b3dda;
  color: #fff;
}

html::-webkit-scrollbar {
  width: 0.8rem;
}
html::-webkit-scrollbar-track {
  background:  #80ccdf94;
}
html::-webkit-scrollbar-thumb {
  background:  #397a8a;
}

.topnav{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.7rem 10%;
  height: 6.5rem;
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.3);
}

.topnav .logo{
  font-size: 2.5rem;
  font-weight: 800;
  text-decoration: none;
  color: #f2f5f7;
  display: flex;
  align-items: center;
}

.topnav .logo-img{
  height: 4rem;
  width: auto;
  margin-right: 1rem;
}

.topnav .logo span{
  font-size: 2.5rem;
  color: #0e2431;
}

.topnav .logo span:hover{
  color: #2EB2D3;
}

.topnav .logo i{
  font-size: 2.2rem;
}

.topnav .navbar ul{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.topnav .navbar li{
  margin-left: 2.5rem;
}

.topnav .navbar ul li a{
  font-size: 1.57rem;
  color: #0e2431;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 0.04rem;
  transition: 0.2s;
}

.topnav .navbar ul li a.active,
.topnav .navbar ul li a:hover{
  color:  #2EB2D3;
  border-bottom: 0.2rem solid  #2EB2D3;
  padding: 0.5rem 0;
}

.topnav .closebtn, .openbtn{
  display: none;
}


.home {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  min-height: 100vh;
  align-items: center;
}

.home #particles-js {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.home .content {
  flex: 1 1 40rem;
  margin-left: 10rem;
  padding-top: 1rem;
  z-index: 1;
}

.home .image {
  flex: 1 1 40rem;
  z-index: 1;
}

.home .image img {
  height: 35rem;
  margin-left: 8rem;
  border-radius: 50%;
  box-shadow: 0 2px 8px rgba(237, 233, 233, 0.3);
  cursor: pointer;
  background-color: #2EB2D3;
}

.home .image img:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.home .content h2 {
  font-size: 5rem;
  font-weight: 800;
  color: rgb(239, 239, 239);
}

.home .content h2 span {
  font-size: 5rem;
  font-weight: 800;
  color: #2EB2D3;
}

.home .content p {
  font-size: 2.5rem;
  color: #eae4e4;
  font-weight: 600;
  padding: 1rem 0;
}

.home .content p span {
  font-size: 2.5rem;
  color: #2EB2D3;
  font-weight: 600;
  padding: 1rem 0;
}

.home .btn {
  margin-top: 1rem;
  position: absolute;
  line-height: 0;
  padding: 1.6rem 3rem;
  border-radius: 4em;
  transition: 0.5s;
  color: #fff;
  background: #2EB2D3;
  box-shadow: 0px 5px 18px #72d0e7;
  font-family: "Nunito", sans-serif;
}

.home .btn span {
  font-weight: 700;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
}

.home .btn i {
  margin-left: 0.5rem;
  font-size: 18px;
  transition: 0.3s;
  justify-content: center;
}

.home .btn:hover {
  background: #2EB2D3;
}

.home .btn:hover i {
  transform: translateX(5px);
}

.socials {
  position: relative;
  margin-top: 9rem;
}

.socials .social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.socials .social-icons li {
  display: inline-block;
  margin-bottom: 14px;
}

.social-icons a {
  font-size: 2rem;
  display: inline-block;
  line-height: 44px;
  color: white;
  background-color: #09011b;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #0685da;
}

.social-icons a.github:hover {
  background-color: rgb(92, 10, 92);
}

.social-icons a.twitter:hover {
  background-color: #00aced;
}

.social-icons a.linkedin:hover {
  background-color:  #0077b5;
}

.social-icons a.dev:hover {
  background-color:  #4267B2;
}

.social-icons a.instagram:hover {
  background-color:  #E1306C;
}



.about {
  background: rgb(244, 243, 243);
  display: flex;
  flex-direction: column;
  align-items: center; 
  padding: 2rem 0; 
}

.about .heading {
  font-size: 25px;
  text-align: center;
  margin-bottom: 1rem;
  font-weight: bold; 
}

.about .heading span {
  color:#00aced;
}

.about .about-container {
  max-width: 1050px;
  width: 100%;
  background: #c6e8f2;
  margin: 2rem auto 8rem auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 2rem; 
}

.about .about-container .image {
  text-align: center;
  flex: 1 1 35rem;
}

.about .about-container .image img {
  margin: 4rem;
  width: 30rem;
  height: auto;
  border-radius: 5%;
  box-shadow: 0 5px 10px #2EB2D3;
  transition: 0.3s;
  cursor: pointer;
}

.about .about-container .content {
  flex: 1 1 45rem;
  padding: 3rem;
}

.about .about-container .content h2 {
  color: rgb(27, 27, 27);
  font-size: 3rem;
  margin-bottom: 6px;
}

.about .about-container .content .tag {
  font-size: 2.5rem;
  color: #020133;
  font-weight: 600;
  margin-top: 1rem;
}

.about .about-container .content p {
  font-size: 1.5rem;
  margin-top: 1.5rem;
  font-family: "Nunito";
  font-weight: 600;
  text-transform: none;
}

.about .about-container .content .box-container {
  display: flex;
  flex-wrap: wrap;
  font-family: "Nunito";
  font-weight: 600;
}

.about .about-container .content .box-container .box p {
  text-transform: none;
}

.about .about-container .content .box-container .box p span {
  color: #2EB2D3;
}

.resumebtn {
  margin-top: 1rem;
}

.resumebtn .btn {
  margin-top: 2rem;
  display: inline-block; 
  line-height: 1; 
  padding: 1.6rem 3rem;
  border-radius: 4em;
  transition: 0.5s;
  color: #fff;
  background: #2EB2D3;
  box-shadow: 0px 5px 18px #60b6cc;
  font-family: "Nunito", sans-serif;
  text-decoration: none; 
}

.resumebtn .btn span {
  font-weight: 600;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
}

.resumebtn .btn i {
  margin-left: 0.3rem;
  font-size: 1.2rem;
  transition: 0.3s;
}

.resumebtn .btn:hover {
  background: #0d0d0d;
  color: rgb(234, 228, 228);
}

.resumebtn .btn:hover i {
  transform: translateX(5px);
}



.skills{
  background-color: rgba(247, 247, 248, 0.51);
  align-items: center; 
  padding: 2rem 0;
}

.skills .heading{
  font-size: 25px;
  text-align: center;
  margin-bottom: 1rem;
  font-weight: bold; 
}

.skills .heading span {
  color: black; 
}

.skill{
  max-width: 1050px;
  width: 100%;
  background: #d9f6db;
  margin: 2rem auto 2rem auto;
  padding: 2rem; 
}

.skill-container .row{
  margin-right: 20px;
}

.skill-container .sub-heading{
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.progress-card{
  padding: 12% 10% 10% 15%;
  background-color: #51b2e3;
  text-align: center;
  border-radius: 50%;
  border-color: black;
}

.progress-card span{
  font-size: 15px;
  font-weight: 500;
}

.progress-card:hover{
  transform: scale(1.1,1.1);
  transition-duration: 0.6s;
}

.circular-progress{
  position: relative;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circular-progress::before{
  content: "";
  position: absolute;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  background-color: #9385f4;
}

.progress-value{
  position: relative;
  font-size: 1.5rem;
  font-weight: 600;
}

.bar-sub-heading{
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  margin-left: 40px;
}

.progress-bar-section {
  padding: 20px 0;
  margin-left: 10rem;
}

.progress-item {
  margin-bottom: 20px;
}

.skill-name {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
  font-size: 16px;
}

.progress-bar {
  background: #c8d7e4;
  border-radius: 25px;
  height: 20px; 
  position: relative;
  overflow: hidden;
}

.progress-bar span {
  position: absolute;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 10px;
  font-size: 14px;
  font-weight: bold;
  color: #210a0a;
  z-index: 1;
}

.progress-bar-value{
  margin-left: 10px;
}

/* Color-coded backgrounds based on percentage width */
.progress-bar-value[style*="90%"] { background-color: #4caf50; }   /* Green */
.progress-bar-value[style*="85%"] { background-color: #8bc34a; }   /* Light Green */
.progress-bar-value[style*="80%"] { background-color: #ffc107; }   /* Amber */
.progress-bar-value[style*="75%"] { background-color: #ff9800; }   /* Orange */
.progress-bar-value[style*="70%"] { background-color: #ff5722; }   /* Deep Orange */
.progress-bar-value[style*="65%"] { background-color: #f44336; }   /* Red */
.progress-bar-value[style*="60%"] { background-color: #e91e63; }   /* Pink */



.projects-container {
  margin-left: 100px;
  margin-top: 50px;
  
}

.projects-container .heading {
  font-size: 25px;
  text-align: center;
  margin-bottom: 1rem;
  font-weight: bold;
  color: rgb(162, 243, 63);
}

.project-tab {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 2rem;
}

.project-tab .tab-btn {
  color: rgb(226, 223, 223);
  padding: 1rem 1.25rem 0.875rem;
  cursor: pointer;
  font-size: 15px;
  border: none;
  transition: color 0.3s ease;
}

.project-tab .tab-btn.active-tab {
  color: #2EB2D3;
  font-weight: bold;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.project-item {
  border: 1px solid #7f57f0;
  border-radius: 5px;
  width: 350px;
  overflow: hidden;
  background: transparent;
  box-sizing: border-box;
  transition: background-color 0.3s, transform 0.3s;
  padding: 20px;
  margin-top: 10px;
  position: relative;
}

.project-item:hover {
  transform: scale(1.1);
}

.project-item a {
  text-decoration: none;
}

.project-item .project-title {
  text-decoration: none;
  color: #26f163;
  font-size: 15px;
}

.project-item .project-title:hover {
  color: rgb(248, 245, 245);
}

.project-img img {
  width: 100%;
  height: auto;
}

.project-item-icon-box {
  background: hsl(0, 0%, 22%);
  color: #baeffc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  font-size: 20px;
  padding: 18px;
  border-radius: 12px;
  opacity: 0;
  z-index: 1;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.project-item:hover .project-item-icon-box {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}





.contact {
  background: white;
  min-height: 60vh;
  padding-top: 5rem;
}

.contact .heading{
  font-size: 25px;
  text-align: center;
  margin-bottom: 1rem;
  font-weight: bold; 
}

.contact .container {
  max-width: 1050px;
  width: 100%;
  background: #fff;
  border-radius: 1.5rem;
  margin: 2rem auto;
}

.contact .container .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem 2rem;
}

.contact .content form {
  width: 45%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

form .form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.field-row {
  display: flex;
  gap: 1rem;
}

.form-group .field {
  height: 50px;
  display: flex;
  position: relative;
  margin: 1rem 0;
  width: 100%;
}

form i {
  position: absolute;
  top: 50%;
  left: 18px;
  color: rgb(51, 51, 51);
  font-size: 17px;
  pointer-events: none;
  transform: translateY(-50%);
}

form .field input,
form .message textarea {
  width: 100%;
  height: 100%;
  outline: none;
  padding: 0 16px 0 48px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  border-radius: 5px;
  border: 1px solid rgb(51, 51, 51);
  background: #e5ecfb;
}

.field input::placeholder,
.message textarea::placeholder {
  color: rgb(51, 51, 51);
}

.field input:focus,
.message textarea:focus {
  padding-left: 47px;
  border: 2px solid  #2EB2D3;
}

.field input:focus ~ i,
.message textarea:focus ~ i {
  color:  #2EB2D3;
}

form .message {
  position: relative;
  margin: 1rem 0;
  width: 100%;
}

form .message i {
  top: 25px;
  font-size: 20px;
  left: 15px;
}

form .message textarea {
  min-height: 130px;
  max-height: 230px;
  width: 100%;
  padding: 12px 20px 0 48px;
}

form .message textarea::-webkit-scrollbar {
  width: 0px;
}

form .button-area {
  display: flex;
  justify-content: center;
  width: 100%;
}

.button-area button {
  color: #fff;
  border: none;
  outline: none;
  font-size: 1.8rem;
  cursor: pointer;
  border-radius: 25px;
  padding: 13px 180px;
  background:  #2EB2D3;
  box-shadow: 0px 5px 10px  #409eb6;
  transition: 0.3s ease;
}

.button-area button:hover {
  color: black;
}



.footer {
  min-height: auto;
  padding-top: 0;
  background:  #024274;
}

.footer .box-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footer .box-container .box {
  flex: 1 1 25rem;
  margin: 5rem;
}

.footer .box-container .box h3 {
  font-size: 2.5rem;
  color: #fff;
  padding-bottom: 1rem;
  font-weight: normal;
}

.footer .box-container .box p {
  font-size: 1.5rem;
  color: white;
  padding: 0.7rem 0;
  text-transform: none;
}

.footer .box-container .box p i {
  padding-right: 1rem;
  color: black;
}

.footer .box-container .box a {
  font-size: 1.5rem;
  color: rgb(238, 238, 238);
  padding: 0.3rem 0;
  display: block;
  text-decoration: none;
}

.footer .box-container .box a:hover {
  color: black;
}

.footer .box-container .box .share {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 0;
}

.footer .box-container .box .share a {
  height: 4rem;
  width: 4rem;
  padding: 1rem;
  text-align: center;
  border-radius: 5rem;
  font-size: 1.7rem;
  margin-right: 1rem;
  transition: 0.2s;
  background: rgb(230, 230, 230);
  color: #02094b;
  border: none;
}

.footer-bottom{
  text-align: center;
  border-top: 1px solid #444444;
  padding-top: 10px;
}

.copyright{
  margin: 0;
  color: #bdbcbc;
  font-size: 15px;
}

@-webkit-keyframes pound {
  to {
    transform: scale(1.1);
  }
}
@keyframes pound {
  to {
    transform: scale(1.1);
  }
}




#scroll-top {
  position: fixed;
  top: -140%;
  right: 2rem;
  padding: 1rem 1.5rem;
  font-size: 2rem;
  background:#0077C0;
  color: rgb(13, 0, 44);
  border-radius: 50%;
  transition: 1s linear;
  z-index: 1000;
}
#scroll-top.active {
  top: calc(100% - 12rem);
}